#div1 {
    background-color: blue;
}

div {
    height: 40px;
    width: 40px;
    background-color: pink;
    margin-bottom: 5px;
    display: inline-block;
    position: absolute;
    text-align:center;
}

body {
    position: relative;
    height: 150vh;
    margin: 0;
}

#bottom-right {
    bottom: 0px;
    right: 0px;
}

#top-right {
    top: 0px;
    right: 0px;
}

#bottom-left {
    bottom: 0;
    left: 0;
}

#ontop-div {
    top: 10px;
    right: 10px;
    background-color: blue;
}

#centered {
    width: 300px;
    height: 100px;
    background-color:cornflowerblue;
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin: -50px 0 0 -150px;
}